<div class="text-center row width90">
  <div class="col-md-4">
    <h2>CHILD1</h2><hr/>
    <div class="text-center border">
      <h3 segamegadrive selectedSize="21px" defaultSize="20px" style="margin: 0 auto; width: 200px;" >hover mouse text</h3>
      <p>userName in parent: {{userName}}</p>
    </div>

    <br/><hr/>

    <div>
      <h4>clicker with @Input and @Output</h4>
      <p>Clicked: {{clicks}} {{ clicks == 1 || clicks == -1 ? "time" : "times"}}</p>

      <child-app (onChanged)="onChanged($event)" [(someName)]="userName" #counter></child-app>
      <p>Call child's <b>#counter</b> methods:</p>
      <button (click)="counter.increment()">+</button>
      <button (click)="counter.decrement()">-</button>
    </div>
  </div>

  <div class="col-md-4">
    <h2>CHILD2</h2><hr/>

    <div>
      <h4>@ContentChild</h4>
      <child2-component #counter>
        <p #headerContent>{{nameForContentChild}}</p>
      </child2-component>
      <p>@ViewChild counter as counterComponent, call counterComponent's methods</p>
      <button (click)="increment2()">+</button>
      <button (click)="decrement2()">-</button>
    </div>

    <br/><hr/>

    <div>
      <h4 #someText>#Template</h4>
      <!--<p>{{someText.textContent}}</p>-->
      <p>{{someText}}</p>
      <button (click)="changeTextField()">Тык</button>
    </div>
  </div>

  <div class="col-md-4">
    <h2>CHILD3</h2><hr/>

    <div>
      <child3></child3>
    </div>
  </div>
</div>
