

<nav class="navbar d-inline-flex navbar-dark navbar-expand-sm">
  <a class="btn btn-dark link-dark" href="#/" >Kittens</a>
  <a class="btn btn-dark" href="#/template">Template</a>
  <a class="btn btn-dark" href="#/service">Service</a>
  <button class="btn" routerLink="/forms" routerLinkActive="active">Forms</button>
  <!-- chapter7
  если путь, представляющий первую ссылку (routerLink=""), совпадает с url второй ссылки (routerLink="/about"),
   можно применить дополнительные настройки с помощью директивы routerLinkActiveOptions:
  [routerLinkActiveOptions]="{exact:true}"
  Значение {exact:true} указывает на то, что для установки активной ссылки будет применяться полное соответствие.

  Если мы захотим стилизовать не просто активную ссылку, а весь элемент, в котором данная ссылка расположена,
   можно применить директиву routerLinkActive к элементу-контейнеру ссылки
   <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="">Главная</a>
  </li>
  -->
  <button class="btn btn-toolbar" (click)="goToHTTP()" routerLinkActive="active">HTTP</button>
  <button class="btn btn-toolbar" (click)="goToChapter7(111)" routerLinkActive="active">chapter7</button>
  <!--<button class="btn btn-toolbar" [routerLink]="['chapter7', 10]" [queryParams]="{'product':'some name', 'price': 100}" routerLinkActive="active">chapter7</button>-->
</nav>
<router-outlet></router-outlet>


<!--
{{выражение}}                     Привязка элемента DOM к значению компонента (односторонняя)
[value]="name"                    Привязка свойства элемента DOM к значению компонента (односторонняя)
(click)="addItem(text, price)"    Привязка метода компонента к событию в DOM (односторонняя)
[(ngModel)]="name"                Двусторонняя привязка, когда элемент DOM привязан к значению на компоненте, при этом изменения на одном конце привязки сразу приводят к изменениям на другом конце
-->

<!--
[ngModel]     Если нам надо просто вывести значение модели в поле ввода, то можно ограничиться и однонаправленной привязкой
[(ngModel)]   Если нам надо отслеживать изменение введенных данных, то мы можем использовать двунаправленную привязк
-->

<!--
https://metanit.com/web/angular2/2.6.php
Элемент ng-content позволяет родительским компонентам внедрять код html в дочерние компоненты.
Вместо элемента <ng-content> извне можно будет передать любое содержимое.

child:  <ng-content></ng-content>
parent: <child-comp><h2>Добро пожаловать {{name}}!</h2></child-comp>


https://metanit.com/web/angular2/2.7.php
По умолчанию эти компоненты никак не взаимодействуют, они независимы.
child:  {
  @Input() userName: string = "";
  _userAge: number =

  @Input()
  set userAge(age:number) {
      if(age<0)
          this._userAge=0;
      else if(age>100)
          this._userAge=100;
      else
          this._userAge = age;
  }
  get userAge() { return this._userAge; }
}
parent: <child-comp [userName]="name" [userAge]="age"></child-comp>


-->

<!--
 #phoneTitle="ngModel" или #phonePrice="ngModel".
 Каждая из этих переменных представляет модель и ее состояние для соответствующего поля ввода.
 Используя свойства объекта NgModel, мы можем получить данные о состоянии модели.
 С помощью свойства name мы можем получить название поля ввода (значение атрибута name), к которому привязана переменная.
-->
