:host {
  position: relative;
}

magenta-background {
  background-color: #ff0084;
  opacity: 1;
  background-image:  linear-gradient(135deg, #e10075 25%, transparent 25%), linear-gradient(225deg, #e10075 25%, transparent 25%), linear-gradient(45deg, #e10075 25%, transparent 25%), linear-gradient(315deg, #e10075 25%, #ff0084 25%);
  background-position:  13px 0, 13px 0, 0 0, 0 0;
  background-size: 13px 13px;
  background-repeat: repeat;
}

.active {
  font-weight: bold;
  color: blue;
}
