<div class="panel">
  <h1 class="text-center">Take a kitten home:</h1>

  <div class="form-inline">
    <div class="form-group col-sm-4 col-md-2">
        <input class="form-control" [(ngModel)]="name" placeholder="Kitten's name" />
    </div>
    <div class="form-group row col-sm-4 col-md-2">
        <label  for="setNewKittensCollar"> is already home?</label>
        <input class="form-control" id="setNewKittensCollar" type="checkbox"
               [(ngModel)]="hasCollar" />
    </div>
    <div class="form-group row col-sm-3 col-md-2">
        <kittens-age [age]="kittenAge" (onChanged)="onAgeChanged($event)" ></kittens-age>
    </div>
    <div class="form-group row col-2 col-md-1">
      <div class="">
        <button class="btn btn-toolbar" (click)="addKitten(name, hasCollar, kittenAge)">Add</button>
      </div>
    </div>
  </div>

  <div class="px-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-5">Kitten</th>
          <th class="col-sm-2">Age</th>
          <th class="col-sm-5">Is adopted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kitten of kittens">
          <td>{{kitten.name}}</td>
          <td>{{kitten.age}}</td>

          <ng-template [ngIf]="kitten.hasCollar" [ngIfElse]="takeHome">
            <td>Yes</td>
          </ng-template>
          <ng-template #takeHome>
            <td><button class="btn btn-light" (click)="kitten.hasCollar = !kitten.hasCollar">Bring home</button></td>
          </ng-template>

        </tr>

      </tbody>
    </table>
  </div>

</div>
